@import "~spinners-react/lib/SpinnerCircular.css";

.modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.modal-main {
  position: fixed !important;
  background: white !important;
  min-width: 60% !important;
  min-height: 40% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.modal-rest {
  width: 100% !important;
  height: 100% !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.float-right {
  float: right !important;
}
.table {
  margin: 20px !important;
}

.float-left {
  float: left !important;
}

hr.style-one {
  border: 0 !important;
  height: 1px !important;
  background: #333 !important;
  background-image: linear-gradient(to right, #ccc, #333, #ccc) !important;
}

@media only screen and (max-width: 768px) {
  .modal-main {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 978px) {
  .modal-main {
    width: 80% !important;
    height: auto !important;
    margin: 30px;
  }
}
